.body{
    background-color: whitesmoke;
    display: flex;
    
}
main{
    flex: 1;
}
h1{
    font-size: 5rem;
    font-family: Orbitron;
}
h2{
     font-family: Orbitron;
     
}
p{
    font-family: Orbitron;
}
footer{
    text-align: center;
    color: deepskyblue;
}
.logo{
    width: 450px;
    margin-right: 100px;
}
.Coffee{
    width:250px;
    float: left;
}
.juice{
    width: 250px;
    height:250px;
    margin-left: 500px;
    float: left;
    object-fit: cover;
}
.Creative{
       color: rgb(138, 21, 241);
}
@media(max-width:680px){
    .logo{
        width:100px;
    }
}
.card{
    width:100%;
    display:block;
    text-align: justify;
}
.cardimg{
    width:100%;
    display:inline;
    float: right;
    object-fit: cover;

}
